# --------------------------------------
# Confluent Cloud connection information
# --------------------------------------
# ENVIRONMENT_ID=Now using "env-3818wm" as the default (active) environment.
env-3818wm
# SERVICE_ACCOUNT_ID=sa-63vx68
# KAFKA_CLUSTER_ID=lkc-7y01m2
# SCHEMA_REGISTRY_CLUSTER_ID=lsrc-mv0nxw
# --------------------------------------
sasl.mechanism=PLAIN
security.protocol=SASL_SSL
bootstrap.servers=pkc-pgq85.us-west-2.aws.confluent.cloud:9092
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='P4P5BGIO2JZMNXP5' password='RCDbhhDk4I3s9iRAG2Jx/hpCFHQbkdWgwS/GbMQMG31TAdHO2L1K+q7c4RUU+5Sy';
basic.auth.credentials.source=USER_INFO
schema.registry.url=https://psrc-6zww3.us-east-2.aws.confluent.cloud
basic.auth.user.info=2PTXKAPUXLEYO65J:ryI+cliuYoZUwoL01gTQt99vFfIGfmjdkYlwBiB4qUyKEg18/W7RDdA0Qqp32mcz
replication.factor=3
